@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #faf5f5;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  background: linear-gradient(to right, #30fd41, #f3f035);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
}

h2 {
  color: rgb(5, 5, 5);
  text-align: center;
}

.logo {
  margin-bottom: 10px;
  height: 30px;
}

.pizza {
  width: min(90%, 500px);
  margin-top: 50px;
}

footer {
  text-align: center;
  color: rgb(10, 10, 10);
  padding: 20px 0px;
  position: flex;
  bottom: 0;
}
